{
  "dev": {
    "subscription_key": "<dev-subscription-key>",
    "client_id": "<dev-client-id>",
    "client_secret": "<dev-client-secret>"
  },
  "sit": {
    "subscription_key": "<sit-subscription-key>",
    "client_id": "<sit-client-id>",
    "client_secret": "<sit-client-secret>"
  },
  "preprod": {
    "subscription_key": "<preprod-subscription-key>",
    "client_id": "<preprod-client-id>",
    "client_secret": "<preprod-client-secret>"
  },
  "prod": {
    "subscription_key": "<prod-subscription-key>",
    "client_id": "<prod-client-id>",
    "client_secret": "<prod-client-secret>"
  }
}